.contact{

    padding:100px 80px;

    display:flex;
    flex-direction:column;
    align-items:center;

}

.contact p{

    width:500px;

    display:flex;
    align-items:center;
    gap:15px;

    margin:18px 0;

    font-size:1.3rem;

    color:#e2e8f0;

}

.contact svg{

    color:#3b82f6;

    flex-shrink:0;

}
@media (max-width: 768px) {

    .contact {
        padding: 80px 25px;
        text-align: center;
        overflow: hidden;
    }

    .contact p,
    .contact a {
    color: #cbd5e1;
    text-decoration: none;
    transition: 0.3s ease;
}
}
.contact a:hover {
    color: #3b82f6;
}