.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px 80px;

    background-color: rgba(15, 23, 42, 0.90);
    backdrop-filter: blur(10px);

    z-index: 1000;
    box-sizing: border-box;
}

.logo {
    color: #ffffff;
    margin: 0;
    cursor: pointer;
    white-space: nowrap;
}

.nav-links {
    display: flex;
    gap: 50px;

    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;

    color: #cbd5e1;
    font-size: 20px;
    font-weight: 500;

    transition: 0.3s ease;
}

.nav-links a:hover {
    color: white;
    transform: translateY(-2px);
}
@keyframes navbarDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column; 
        justify-content: center;
        gap: 10px;
        padding: 12px 10px;
    }

    .logo {
        font-size: 1.2rem;
    }

    .nav-links {
        gap: 20px; 
    }

    .nav-links a {
        font-size: 0.9rem;
    }
}